PORT=5000
DB_URL=mongodb+srv://<db_name>:<db_password>@cluster0.lpi7o.mongodb.net/example-db?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=development


#JWT
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES=

# Bcrypt
BCRYPT_SALT_ROUND=

# SUPER ADMIN
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

# google 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# google oauth callback url
GOOGLE_CALLBACK_URL=http://localhost:5000/api/v1/auth/google/callback

# express session
SESSION_SECRET=

# frontend Url
FRONTEND_URL=

# sslcommerz
SSL_STORE_ID="XYZ"
SSL_STORE_PASS="XYZ@ssl"
SSL_PAYMENT_API="https://XYZ.php"
SSL_VALIDATION_API="https://XYZ.php"

# SSL Commerz BACKEND URL
SSL_SUCCESS_BACKEND_URL="http://localhost:5000/api/v1/payment/success"
SSL_FAIL_BACKEND_URL="http://localhost:5000/api/v1/payment/fail"
SSL_CANCEL_BACKEND_URL="http://localhost:5000/api/v1/payment/cancel"

# SSL Commerz FRONTEND URL
SSL_SUCCESS_FRONTEND_URL="http://localhost:5173/payment/success"
SSL_FAIL_FRONTEND_URL="http://localhost:5173/payment/fail"
SSL_CANCEL_FRONTEND_URL="http://localhost:5173/payment/cancel" 

# CLOUDINARY

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=