PORT=5000
DB_URL=mongodb+srv://<db_name>:<db_password>@cluster0.lpi7o.mongodb.net/example-db?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=development


#JWT
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES=

# Bcrypt
BCRYPT_SALT_ROUND=

# SUPER ADMIN
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

# google 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# google oauth callback url
GOOGLE_CALLBACK_URL=http://localhost:5000/api/v1/auth/google/callback

# express session
SESSION_SECRET=

# frontend Url
FRONTEND_URL=
